.post-card-container {
    background-color: white;
    margin: 5% 4%;
    width: 49vw;
    padding: 2%;
    border-radius: 8px;
    

}

.post-card-container__Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.post-card-container__Header--Right {
    display: flex;
    align-items: center;
}

.post-card-container__Header--Right > h6{
    padding-left: 10%;
}

.post-card-container__Header---Left {
    position: relative;

}
.dropdown-menu {
    border: 1px solid #D9D9D9;
    border-radius: 4%;
}

.dropdown-menu >ul > li {
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid #D9D9D9 ;

}


.post-card-container__Body {

}

.post-card-container__Bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.post-card-container__Bottom--Left {
    display: flex;
    width: 50%;
    justify-content: space-between;

}
.post-card-container__Bottom--Left--Item {
    display: flex;
    align-items: center;


}
.post-card-container__Bottom--Right {

}

.post-card-container-comments-container {
    display: flex;
    flex-direction: column;
}