.your-connection-item-container {
    display: flex;
    align-items: center;
    max-width: 0 2%;
    justify-content: space-between;
    margin: 2% 4%;
    border-bottom: 1px solid  #D9D9D9;


}

.your-connection-item-container__Left {
    display: flex;
    align-items: center;

}

.your-connection-item-container__Left > h6{

    margin-left: 16%;
}